/* CSS Reset */

* {
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  margin: 0;
  padding: 0;
}

body {
  background: #f6faff;

  display: flex;
  flex-direction: row;
}

a {
  color: #111111;
  text-decoration: none !important;
}

a:hover {
  color: #fff !important;
}

/* Sidebar */

aside {
  background: #fff;

  display: flex;
  flex-direction: column;
  flex: 0.6;

  height: 100vh;
  position: relative;

  padding: 1.5rem 0 1.5rem 1.5rem;
}

.navigation {
  display: flex;
  flex-direction: column;
}

.company-logo {
  width: 119px;
  height: 68px;
}

.menus {
  display: flex;
  flex-direction: column;

  margin-top: 50px;
}

.menu-item {
  border-radius: 6px 0 0 6px;

  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 12px 40px 12px 12px;
  margin-bottom: 12px;

  transition: 1s;
}

.menu-item:hover {
  background: #ffeee9;
}

.menu-item:hover .menu-text {
  color: #ff5722;
}

.menu-item:hover svg path {
  fill: #ff5722;
}

.menu-item svg {
  margin-right: 0.8rem;
}

.menu-text {
  color: #d2d2d2;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}

.active {
  background: #ffeee9;
  color: #ff5722;
  fill: #ff5722;
}

.socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  align-self: center;

  position: absolute;
  bottom: 2.5rem;
  margin-right: 1rem;

  color: #27c6d9;
  font-weight: 600;
}

.socials-link {
  display: flex;
  flex-direction: row;

  margin-top: 0.3rem;
  margin-left: 1rem;
}

.social p {
  font-size: 1rem;
  line-height: 24px;
}

.socials-link img {
  width: 40px;
  height: 40px;
  margin-right: 1rem;
}

/* Main Area */

main {
  background: #f6faff;

  display: flex;
  flex-direction: column;
  flex: 3;

  height: 100vh;

  padding: 28px 1rem;

  overflow: scroll;
}

.search-profile-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

form,
.option-item,
.blog-see-more-btn {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 12px;

  display: flex;
  align-items: center;

  padding: 10px 0px 10px 24px;
}

form svg {
  margin-top: -5px;
}

form input {
  margin-left: 1rem;
  margin-top: 4px;

  border: none;
  outline: none;

  width: 671px;
}

::placeholder {
  font-size: 20px;
  line-height: 30px;

  color: #ccc;
}

.header-dynamic-options {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 35px;
  margin-bottom: 20px;
}

.heading {
  font-size: 1.9rem;
  font-weight: 500;
  line-height: 40px;

  color: #111111;
}

.profile {
  display: flex;
  align-items: center;
}

.profile p {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;

  color: #111111;

  margin-top: 1rem;
}

.profile-picture {
  width: 48px;
  height: 48px;

  border-radius: 100%;

  margin-right: 0.8rem;

  object-fit: cover;
}

.options {
  display: flex;
  justify-content: space-between;

  margin-right: -0.5rem;
}

.option-item {
  display: flex;
  align-items: center;

  cursor: pointer;

  padding: 8px 24px 8px 24px;

  margin-right: 1rem;
}

.create-blog {
  background: #ff7d54;
  color: #fff;

  border: none;

  font-weight: 700;
  font-size: 16px;
  line-height: 30px;

  transition: 1s;
}

.create-blog:hover {
  background: #ff5722;
}

.option-item span {
  margin-right: 0.7rem;

  line-height: 30px;
}

.dropdown-menu {
  margin-top: 1.2rem !important;
}

/* Blogs */

.blogs {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 1rem;
}

.blog-card {
  background: #fff;
  border-radius: 12px;
  width: 270px;

  padding: 20px;
}

.blog-img {
  width: 230px;
  height: 107px;

  object-fit: cover;

  border-radius: 6px;

  margin-bottom: 12px;
}

.blog-author-date {
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;

  color: #ff7d54;
}

.blog-header-card {
  font-weight: 600;
  font-size: 1.6rem;

  color: #111111;
}

.blog-desc-card {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  color: #687083;
}

.blog-see-more-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  cursor: pointer;

  padding: 8px 24px 8px 24px;

  color: #111;
}

.blog-see-more-btn:hover {
  color: #111 !important;
}

/* UTILITIAS */

.mb-16 {
  margin-bottom: 1rem;
}
