* {
    transition: 1s;
    /* untuk debugging css */
    /* outline: 1px solid red; */
}

.main__card {
    background-color: white;
    width: 540px;
    /* height: 400px; */
    padding: 40px 50px 35px;
    margin: 80px auto 0;
    border-radius: 12px;
    transition: 1s;
}

.heading {
    text-align: center;
}

.heading p {
    color: #7a7a7a;
    width: 350px;
    margin: auto;
}

.form__group {
    /* width: 435px; */
    margin: 20px auto 0px;
}

.form__group label {
    margin-bottom: 10px;
}

.form__group button {
    margin-top: 25px;
    background-color: var(--orange);
    color: var(--white);
    width: -webkit-fill-available;
    border: none;
    height: 50px;
    border-radius: 6px;
    transition: 1s;
}

.form__group button:hover {
    background-color: #ff7d54;
}

/* Media Query */

/* Tablet Resolution */
@media only screen and (max-width: 991px) {
    .main__card {
        margin-top: 56px;
        padding: 40px 20px 35px;
    }
    .heading h2 {
        font-size: 28px;
    }
    .heading p {
        width: 360px;
    }
}

/* Mobile Resolution */
@media only screen and (max-width: 576px) {
    .main__card {
        margin-top: 105px;
        margin-bottom: 100px;
        padding: 40px 20px 48px;
        width: 335px;
        height: auto;
    }
    .heading p {
        width: 265px;
    }
    .form__group {
        margin-top: 36px;
    }
}
